<div
  class="send-application"
  [formGroup]="issue5Group"
>
  <p class="send-application__description">
    В течение одного рабочего дня после отправки заявления с вами свяжется сотрудник банка, обработает вашу заявку и выпустит покрытый аккредитив для безопасного платежа вашему контрагенту.
  </p>

  <label class="send-application__agree-checkbox">
    <psb-checkbox
      formControlName="AgreeWithTerms"
      name="only-orig-doc"
    >
      <span>
        Я согласен с
        <a
          href="https://www.psbank.ru/MediumBusiness/CashService/RKO/Documentary"
          target="_blank"
        >
          условиями открытия
        </a>
        аккредитива
      </span>
    </psb-checkbox>
  </label>

  <psb-checkbox
    formControlName="CreateLocTemplate"
    name="only-orig-doc"
  >
    <span>Создать шаблон аккредитива</span>
  </psb-checkbox>

  <div class="contact">
    <h2 class="contact__title">
      Контактные данные для уточнения вопросов:
    </h2>

    <psb-text-input
      class="contact__name"
      label="ФИО ответственного"
      formControlName="ContactPersone"
    ></psb-text-input>

    <psb-phone-input
      class="contact__phone"
      label="Контактный телефон ответственного"
      formControlName="ContactPhone"
    ></psb-phone-input>
  </div>
</div>
