:host {
  display: block;
  width: 100%;
}

.account-select {
  font-family: "Inter";
  font-weight: normal !important;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  display: block;
  min-width: 0;
  background: transparent;
  max-width: 590px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;

  &__dropdown-header {
    cursor: pointer;
  }

  &__chevron-icon {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: -13px;
    top: 19px;
    width: 2em;
    padding: 0;
    height: 18px;
    color: #848484;

    psb-icon {
      width: 18px;
    }
  }
}

.dropdown-label {
  position: relative;
  display: block;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  width: 100%;
  padding-right: 1em;
  font-weight: normal;
  line-height: 33px;
  padding-top: 12px;
  min-height: 33px;

  &__small-label {
    position: absolute;
    font-size: 12px;
    top: -10px;
    color: rgba(0,0,0,.54);
  }

  &__content-row {
    align-items: center;
    display: flex;
  }

  &__content-col {
    white-space: nowrap;
    flex-shrink: 1;
    padding-right: 21px;

    &:last-child {
      width: 100%;
      text-align: right;
    }
  }
}

.dropdown-panel {
  padding: 0;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  min-width: 100%;
  max-width: 100%;
  position: absolute;
  height: auto;
  top: 46px;
  z-index: 100;

  &__items-wrapper {
    max-height: 320px !important;
    padding: 8px 0;
    letter-spacing: -0.5px;
  }

  &__items {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  &__item {
    padding: 12px 24px;
    box-sizing: border-box;
    line-height: initial;
    cursor: pointer;
  
    &:hover {
      background-color: #f8f8f8;
    }
  }

  .dropdown-label__content-col {
    &:last-child {
      padding-right: 0;
    }
  }
}

.form-field-container {
  width: 100%;
}

.-invalid {
  .account-select {
    border-bottom: 2px solid #d0021b;
  }
}