<div class="issue-steps">
	<div class="step-title">ШАГ {{this.CurrentStep}} из 5</div>

	<div class="step-list">
		<div class="step-item" [ngClass]="{'active': 1 === this.CurrentStep, 'done': this.CurrentStep > 1}">
			<div class="step-item-circle">
				<svg class="blue-dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="5.5" cy="5.5" r="4.5" stroke-width="2" />
				</svg>
			</div>
			<div class="step-item-text">
				<span class="step-item-title">Сумма аккредитива с комиссией</span>
				<span class="step-item-value">{{this.Store.IssueStep1Text}}</span>
			</div>
		</div>

		<div class="step-item" [ngClass]="{'active': 2 === this.CurrentStep, 'done': this.CurrentStep > 2}">
			<div class="step-item-circle">
				<svg class="blue-dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="5.5" cy="5.5" r="4.5" stroke-width="2" />
				</svg>
				<svg class="gray-dot" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="6.5" cy="6.5" r="5.5" fill="#F5F5F5" stroke="#E2E2E2" />
				</svg>
			</div>
			<div class="step-item-text">
				<span class="step-item-title">Контрагент</span>
				<span class="step-item-value">{{this.Store.IssueStep2Text}}</span>
			</div>
		</div>

		<div class="step-item" [ngClass]="{'active': 3 === this.CurrentStep, 'done': this.CurrentStep > 3}">
			<div class="step-item-circle">
				<svg class="blue-dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="5.5" cy="5.5" r="4.5" stroke-width="2" />
				</svg>
				<svg class="gray-dot" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="6.5" cy="6.5" r="5.5" fill="#F5F5F5" stroke="#E2E2E2" />
				</svg>
			</div>
			<div class="step-item-text">
				<span class="step-item-title">Договор с контрагентом</span>
				<span class="step-item-value">{{this.Store.IssueStep3Text}}</span>
			</div>
		</div>

		<div class="step-item" [ngClass]="{'active': 4 === this.CurrentStep, 'done': this.CurrentStep > 4}">
			<div class="step-item-circle">
				<svg class="blue-dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="5.5" cy="5.5" r="4.5" stroke-width="2" />
				</svg>
				<svg class="gray-dot" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="6.5" cy="6.5" r="5.5" fill="#F5F5F5" stroke="#E2E2E2" />
				</svg>
			</div>
			<div class="step-item-text">
				<span class="step-item-title">Срок действия аккредитива</span>
				<span class="step-item-value">{{this.Store.IssueStep4Text}}</span>
			</div>
		</div>

		<div class="step-item" [ngClass]="{'active': 5 === this.CurrentStep}">
			<div class="step-item-circle">
				<svg class="blue-dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="5.5" cy="5.5" r="4.5" stroke-width="2" />
				</svg>
				<svg class="gray-dot" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="6.5" cy="6.5" r="5.5" fill="#F5F5F5" stroke="#E2E2E2" />
				</svg>
			</div>
			<div class="step-item-text">
				<span class="step-item-title">Отправить заявку</span>
			</div>
		</div>
	</div>
</div>
