@import "../../../assets/colors";

.issue-step2 {
	.reciver-inn-field {
		display: block;
		width: 300px;
		margin-top: 24px;
	}

	.reciver-bank-holder {
		padding-top: 24px;
		display: flex;
	}

	.reciver-bik-field {
		width: 160px;
	}

	.reciver-acc-field {
		width: 300px;
		margin-left: 20px;
	}

	.reciver-comment {
		margin-top: 24px;
	}
}

.autos-item-header {
	padding: 12px 8px 4px 8px;
	font-size: 12px;
	color: $black-alpha-50;
}

.autos-item-inn {
	padding-top: 4px;
	font-size: 12px;
	color: $black-alpha-50;
	letter-spacing: 0.25px;

	.super-weight {
		font-weight: 900;
	}
}
