<div class="issue-step2" [formGroup]="this.Issue2Group">
	<ng-template #innSelectHeader>
		<p>Найдено в ЕГРЮЛ</p>
	</ng-template>

	<psb-input-autocomplete class="reciver-inn-field" label="ИНН контрагента" formControlName="InnControl" #innAutocomplete
		[minSearchLength]="5" [delay]="500" maxHeight="320px" [description]="this.InnCompany"
		[maskSettings]="{mask: '000000000000'}" (search)="this.SearchInnAsync()" (selectItem)="this.SelectInn(innAutocomplete)"
		optionId="inn" optionLabel="shortName" [options]="this.FoundInnList">

		<ng-template psbTemplateType="heading" *ngIf="this.FoundInnList.length > 0">
			<div class="autos-item-header">Найдено в ЕГРЮЛ</div>
		</ng-template>

		<ng-template let-option="option" psbTemplateType="option">
			{{option.shortName}}
			<div class="autos-item-inn">ИНН <span class="super-weight">{{option.innFound}}</span>{{option.innTail}} - КПП {{option.kpp}}</div>
		</ng-template>

	</psb-input-autocomplete>

	<div class="reciver-bank-holder">
		<psb-text-input class="reciver-bik-field" label="БИК" formControlName="BikControl" [maskSettings]="{mask: '000000000'}"
			[description]="this.LocInstance.ReciverBankName"></psb-text-input>


		<psb-text-input class="reciver-acc-field" label="Расчётный счёт" formControlName="AccountControl"
			[maskSettings]="{mask: '000 00 000 0 0000 0000000'}" description="Счёт юр.лица"></psb-text-input>
	</div>

	<p class="reciver-comment">Свяжитесь с вашим контрагентом и согласуйте оплату
		<br />
		по аккредитиву. Договор изменять не обязательно.
	</p>
</div>
