<div class="issue-step4" [formGroup]="this.Issue4Group">
	<div class="loc-date-holder">
		<div class="end-loc-date-holder">
			<psb-datepicker label="Дата окончания аккредитива" formControlName="EndLocDate"
				[minValidDate]="this.MinEndLocDate"></psb-datepicker>

			<psb-tooltip class="svg-holder" tooltipType="white" text="До этого срока ваш контрагент должен осуществить отгрузку или выполнить иные обязательства по договору и предоставить в Банк документы, необходимые по условиям аккредитива"></psb-tooltip>
		</div>

		<div class="loc-date-length-holder">
			<psb-text-input label="Срок действия аккредитива в днях" formControlName="LocDaysLength" [maskSettings]="{mask: '000'}" description="Необязательно"></psb-text-input>
		</div>
	</div>

	<h2 class="doc-title">Закрывающие документы
		<psb-tooltip class="svg-holder" tooltipType="white" text="Перечень документов должен быть составлен исходя из того, выполнение каких условий договора требуется проконтролировать с их помощью."></psb-tooltip>
	</h2>

	<ng-container formArrayName="ClosingDoc">
		<div class="docs-holder" *ngFor="let doc of ClosingDocs.controls; let i = index">
			<ng-container [formGroupName]="i">
				<div class="doc-fields">
					<psb-text-input class="doc-field" label="Документ" formControlName="Document"></psb-text-input>

					<psb-number-input class="count-field" label="Количество" formControlName="Amount" [thousandsSeparator]="''"></psb-number-input>
				</div>

				<div class="only-orig-doc-holder">
					<psb-checkbox label="Только оригинал документа" formControlName="OnlyOriginalDocument" name="only-orig-doc"></psb-checkbox>
					<psb-tooltip class="svg-holder" tooltipType="white" text="Заполняется только в случае необходимости"></psb-tooltip>
				</div>

				<psb-text-input class="doc-additional-field" label="Дополнительные требования к документу" formControlName="AdditionalRequirements"
					description="Кем должен быть выпущен, подписан или форма заверения, необходимые отметки, язык на котором предоставляется документ. ИНН и наименование грузоотправителя, грузополучателя, место назначения груза."></psb-text-input>
			</ng-container>
		</div>
	</ng-container>

	<div class="add-doc-holder" (click)="this.AddClosingDoc()">
		<div>
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.0711 3.9291C14.1608 0.0187994 7.83923 0.0187994 3.92893 3.9291C0.0186298 7.8394 0.0186298 14.1609 3.92893 18.0712C7.83923 21.9815 14.1608 21.9815 18.0711 18.0712C21.9814 14.1609 21.9814 7.8394 18.0711 3.9291ZM11.997 17.0742H10.003V11.9972L4.92595 11.9972L4.92595 10.0031L10.003 10.0031L10.003 4.92612H11.997L11.997 10.0031L17.074 10.0031L17.074 11.9972L11.997 11.9972V17.0742Z" fill="#383AD1" />
			</svg>

			<span>Добавить закрывающий документ</span>
		</div>
	</div>

	<div class="el-doc-cb-holder">
		<psb-checkbox label="Возможно предоставление закрывающих документов в электронном виде" formControlName="PerhapsDigitalDoc" name="only-orig-doc"></psb-checkbox>
		<psb-tooltip class="svg-holder" tooltipType="white" text="Возможно только по согласованию с ПСБ и при условии, что контрагент обслуживается в Промсвязьбанке"></psb-tooltip>
	</div>

	<div class="allow-loc-by-parts-holder">
		<psb-checkbox label="Разрешить контрагенту частичное использование аккредитива" formControlName="AllowUsePartOfLoc" name="only-orig-doc"></psb-checkbox>
		<psb-tooltip class="svg-holder" tooltipType="white" text="Если предполагается поэтапная оплата проставьте «галочку». Если оплата производится одной суммой, то оставьте поле не отмеченным."></psb-tooltip>
	</div>
</div>
