@import "../../../../../assets/colors";

.counterparty {
	display: flex;
	flex-direction: column;
}

.counterparty-autocomplete {
	display: block;
	width: 300px;
	margin-top: 24px;

	&__header {
		padding: 12px 8px 4px 8px;
		font-size: 12px;
		color: $black-alpha-50;
	}

	&__inn {
		padding-top: 4px;
		font-size: 12px;
		color: $black-alpha-50;
		letter-spacing: 0.25px;
	}

  &__inn-info {
    font-weight: 900;
  }
}

.counterparty-bank-holder {
	display: flex;
	padding-top: 24px;

	&__bik {
		width: 160px;
	}

	&__acc {
		width: 300px;
		margin-left: 20px;
	}
}

.counterparty__info {
	margin-top: 24px;
}
