@import "../../../../../assets/colors";

.counterparty {
	display: flex;
	flex-direction: column;

	.submit {
		margin-top: 20px;
	}
	
	.info {
		margin-top: 24px;
	}
}

.counterparty-autocomplete {
	display: block;
	width: 300px;
	margin-top: 24px;

	.header {
		padding: 12px 8px 4px 8px;
		font-size: 12px;
		color: $black-alpha-50;
	}

	.inn {
		padding-top: 4px;
		font-size: 12px;
		color: $black-alpha-50;
		letter-spacing: 0.25px;
	}

  .inn-info {
    font-weight: 900;
  }
}

.counterparty-bank-holder {
	display: flex;
	padding-top: 24px;

	.bik {
		width: 160px;
	}

	.acc {
		width: 300px;
		margin-left: 20px;
	}
}