<form
  class="accreditation-period"
  [formGroup]="form"
  (submit)="handleSubmit()"
>
  <div class="accreditation-dates">
    <div class="accreditation-dates__expiration-date">
      <psb-datepicker
        label="Дата окончания аккредитива"
        formControlName="endLocDate"
        [minValidDate]="minEndLocDate"
      ></psb-datepicker>

      <psb-tooltip
        class="tooltip"
        tooltipType="white"
        text="До этого срока ваш контрагент должен осуществить отгрузку или выполнить иные обязательства по договору и предоставить в Банк документы, необходимые по условиям аккредитива"
      ></psb-tooltip>
    </div>

    <div class="accreditation-dates__validity">
      <psb-text-input
        label="Срок действия аккредитива в днях"
        formControlName="locDaysNumber"
        [maskSettings]="{ mask: '000' }"
        description="Необязательно"
      ></psb-text-input>
    </div>
  </div>

  <h2 class="doc-title">
    Закрывающие документы
    <psb-tooltip
      class="tooltip"
      tooltipType="white"
      text="Перечень документов должен быть составлен исходя из того, выполнение каких условий договора требуется проконтролировать с их помощью."
    ></psb-tooltip>
  </h2>

  <ng-container formArrayName="closingDocs">
    <closing-doc
      *ngFor="let doc of closingDocsControl.controls; let i = index"
      [formGroupName]="i"
    ></closing-doc>
  </ng-container>

  <button
    class="add-doc-btn"
    (click)="addClosingDoc()"
  >
    <div>
      <img
        class="add-doc-btn__icon"
        src="assets/icons/plus-round.svg"
      >
      <span class="add-doc-btn__label">Добавить закрывающий документ</span>
    </div>
  </button>

  <div class="accreditation-period__closing-doc-checkbox">
    <psb-checkbox
      label="Возможно предоставление закрывающих документов в электронном виде"
      formControlName="isDocumentDigital"
      name="only-orig-doc"
    >
      <psb-tooltip
        class="tooltip"
        tooltipType="white"
        text="Возможно только по согласованию с ПСБ и при условии, что контрагент обслуживается в Промсвязьбанке"
      ></psb-tooltip>
    </psb-checkbox>
  </div>

  <div class="accreditation-period__allow-doc-checkbox">
    <psb-checkbox
      label="Разрешить контрагенту частичное использование аккредитива"
      formControlName="allowUsePartOfLoc"
      name="only-orig-doc"
    >
      <psb-tooltip
        class="tooltip"
        tooltipType="white"
        text="Если предполагается поэтапная оплата проставьте «галочку». Если оплата производится одной суммой, то оставьте поле не отмеченным."
      ></psb-tooltip>
    </psb-checkbox>
  </div>
	<psb-button
		[isSubmit]="true"
		[type]="ButtonType.Primary"
	>
		Далее
	</psb-button>
</form>
