@import "../../../assets/colors";

.issue {
	padding: 32px 56px 0 56px;
	background-color: white;

	&__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__left-col {
		padding-right: 16px;
		width: 576px;
	}

	&__right-col {
		width: 308px;
		display: flex;

		.vertical-dots {
			width: 47px;

			.dots-holder {
				border-left: dotted 1px #ccc;
				width: 1px;
				height: 100%;
				margin-left: 6px;
			}
		}
	}

	// p {
	// 	font-size: 16px;
	// 	line-height: 24px;
	// 	color: #666;
	// 	margin-bottom: 28px;
	// }

	&__footer {
		padding-bottom: 12px;
	}
}

.back-btn {
	margin-left: -24px;
	margin-right: -24px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-bottom: 16px;
	cursor: pointer;

	&__arrow {
		width: 24px;
	}

	&__arrow,
	&__label {
		color: #0009;
		cursor: pointer;
		font-size: 14px;
		line-height: 16px;
	}
}

.issue-header {
	display: flex;
	align-items: center;

	&__title {
		font-size: 20px;
		line-height: 24px;
		color: #000000de;
		letter-spacing: 0.15px;
		font-weight: 600;
		margin: 0;
	}

	&__tooltip {
		margin-left: 10px;
	}
}