@import "../../../../assets/colors";
@import "../../../../assets/sizes";

.counterparty {
    display: flex;
    flex-direction: column;

    .submit {
        margin-top: $size-20;
    }

    .info {
        margin-top: $size-24;
    }
}

.counterparty-autocomplete {
    display: block;
    width: 300px;
    margin-top: $size-24;

    .header {
        padding: 12px 8px 4px 8px;
        font-size: $font-size-xs;
        color: $black-alpha-50;
    }

    .inn {
        padding-top: 4px;
        font-size: $font-size-xs;
        color: $black-alpha-50;
        letter-spacing: 0.25px;
    }

    .inn-info {
        font-weight: 900;
    }
}

.counterparty-bank-holder {
    display: flex;
    padding-top: $size-24;

    .bik {
        width: 160px;
    }

    .acc {
        width: 300px;
        margin-left: $size-20;
    }
}