@import "../../../../assets/_colors.scss";

.email-form {
	position: relative;
	margin: 32px 0;

	&__field {
		width: 300px;
		display: inline-block;
	}

	&__button {
		position: absolute;
		top: 22px;
		margin-left: 20px;
	}

	&__green-check {
		position: absolute;
		top: 27px;
		left: 275px;
	}
}
