<form [formGroup]="form">
    <div class="company-info">
        <psb-icon
            class="raiting-icon"
            [style.color]="store.receiverStatus | reliableColor"
            [path]="'assets/icons/rating.svg'"
        ></psb-icon>

        <span class="title">
            {{ letterOfCredit.receiverName }} имеет {{ store.receiverStatus | reliableText }} рейтинг
        </span>

        <div class="info-icon">
            <psb-tooltip
                class="svg-holder"
                tooltipType="white"
                text="Рейтинг предоставлен СКБ Контур"
            ></psb-tooltip>
        </div>
    </div>

    <p>
        Для снижения риска сделки используйте инструмент «Покрытый аккредитив». Деньги надёжно хранятся в банке до момента поставки или оказания услуг и будут перечислены поставщику после выполнения условий аккредитива.
    </p>

    <ng-container *ngIf="stateManager.state === SafePayStates.ShowAgenda">
        <safe-payment-agenda></safe-payment-agenda>

        <p>
            Узнать больше можно, пройдя по
            <a
                class="doc-link"
                href="https://www.psbank.ru/MediumBusiness/CashService/RKO/Documentary"
                target="_blank"
            >
                ссылке
            </a>
            , по телефону 8 800 333 25 50 или получить информацию на
            <span
                class="email-link"
                (click)="showEmail()"
            >
                e-mail
            </span>
            .
        </p>
    </ng-container>

    <ng-container *ngIf="stateManager.state === SafePayStates.ShowEmail">
        <safe-payment-email
            #safePaymentEmail
            (takeValidEmail)="takeEmail($event)"
        ></safe-payment-email>

        <p>
            При нажатии на кнопку "Получить" вы соглашаетесь на однократную демонстрацию вам рекламных материалов.
        </p>
    </ng-container>

    <div class="actions">
        <psb-button
            class="payment-btn"
            [type]="ButtonType.Primary"
            [size]="ButtonSize.Medium"
            (click)="doSafePay()"
        >
            Совершить безопасный платёж
        </psb-button>
        <psb-button
            class="payment-btn"
            [type]="ButtonType.Text"
            [size]="ButtonSize.Medium"
            (click)="closeDialog(SafePaymentButton.RefusePay)"
        >
            Отказаться от платежа
        </psb-button>
        <psb-button
            class="payment-btn"
            [type]="ButtonType.Text"
            [size]="ButtonSize.Medium"
            (click)="closeDialog(SafePaymentButton.OrdinalPay)"
        >
            Отправить обычный платёж
        </psb-button>
    </div>

    <div>
        <psb-checkbox
            label="Больше не предлагать безопасный платёж с этим контрагентом"
            [formControlName]="SafePaymentFormField.DontWantSafePayment"
            name="dont-want-safe-payment"
        ></psb-checkbox>
    </div>
</form>
