@import "../../../../../assets/colors";
@import "../../../../../assets/sizes";

.agenda {
    display: flex;
    margin: 32px 0;
    justify-content: space-between;
}

.agenda-item {
    width: 23.5%;

    .header {
        display: flex;
        flex-direction: row;
        height: 22px;
        margin-bottom: 6px;
    }

    .number {
        width: 22px;
        height: 22px;
        text-align: center;
        font-size: $font-size-xs;
        background-color: $main-blue;
        color: white;
        line-height: 22px;
        border-radius: 11px;
        min-width: 22px;
    }

    .delimiter {
        border-bottom: solid 1px $main-blue;
        width: 100%;
        height: $size-12;
        margin-left: $size-12;
    }

    .text {
        font-size: $font-size-s;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $main-blue;
    }
}