<div class="agenda">
	<div class="agenda-item">
		<div class="agenda-item-header">
			<div class="agenda-item-index">1</div>
			<div class="agenda-item-delimiter"></div>
		</div>
		<div class="agenda-item-text">Выпуск аккредитива, деньги списываются на&nbsp;счёт в&nbsp;банке</div>
	</div>

	<div class="agenda-item">
		<div class="agenda-item-header">
			<div class="agenda-item-index">2</div>
			<div class="agenda-item-delimiter"></div>
		</div>
		<div class="agenda-item-text">Поставка</div>
	</div>


	<div class="agenda-item">
		<div class="agenda-item-header">
			<div class="agenda-item-index">3</div>
			<div class="agenda-item-delimiter"></div>
		</div>
		<div class="agenda-item-text">Проверка банком закрывающих документов, предоставленых вашими поставщиком</div>
	</div>


	<div class="agenda-item">
		<div class="agenda-item-header">
			<div class="agenda-item-index">4</div>
		</div>
		<div class="agenda-item-text">Банк переводит деньги поставщику</div>
	</div>
</div>
