@import "../../../../../assets/colors";
@import "../../../../../assets/sizes";

.accredit-amount {
	.submit {
		margin-top: $size-10;
	}

	.info {
		font-size: $font-size-m;
		line-height: $size-24;
		color: $bg-grey-dark;
		margin-bottom: 28px;
	}
}

.accredit-sum {
	margin-top: $size-24;

	.form-field {
		width: 200px;
		display: inline-block;
	}
}

.commission {
	display: flex;
	align-items: center;

	.sum {
		margin-left: $size-8;
		font-size: $font-size-l;
		color: $black-alpha-87;
	}

	.tooltip {
		margin-left: 15px;
	}
}

.debit-account {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 330px;
	padding-right: 30px;
	margin-top: 36px;

	.sum {
		color: $black-alpha-38;
		font-size: $font-size-m;
		top: 26px;
		right: 60px;
	}

	.tooltip {
		margin: 9px 0 5px 20px;
	}

	.attribute {
		display: inline-block;
	}
}
