<form
  class="accredit-amount"
  [formGroup]="form"
  (submit)="handleSubmit()"
>
  <div class="accredit-sum">
    <psb-number-input
      label="Сумма аккредитива"
      formControlName="IssueSum"
      suffix=" ₽"
      class="accredit-sum__form-field"
    ></psb-number-input>
  </div>
  <psb-text>
    <div class="commission">
      <span>Комиссия за выпуск аккредитива:</span>
      <span class="commission__sum">
        {{ (comission$ | async) | formatMoney }}
      </span>
      <psb-tooltip
        class="commission__tooltip"
        tooltipType="white"
        text="Рассчитывается комиссия за открытие аккредитива, взимаемая ПСБ. Возможны комиссии сторонних банков."
      ></psb-tooltip>
    </div>
  </psb-text>
  <div
    *ngIf="{ value: (accounts$ | async)} as accountsObject"
    class="debit-account"
  >
    <loc-account-select
      formControlName="SelectedAccount"
      [accounts]="accountsObject.value"
    ></loc-account-select>
    <psb-tooltip
      class="debit-account__tooltip"
      tooltipType="white"
      text="Сумма аккредитива будет автоматически списана с расчетного счета на счет по учету покрытия после согласования Заявления на выпуск аккредитива"
    ></psb-tooltip>
  </div>
  <p class="accredit-amount__info">
    Полный перечень тарифов по
    <a
      href="https://www.psbank.ru/MediumBusiness/CashService/RKO/Documentary"
      target="_blank"
    >
      ссылке
    </a>
    .
  </p>
  <p class="accredit-amount__info">
    Документы о поставке товара/выполнении работ не представлены
		контрагентом до даты окончания аккредитива? Мы вернем денежные средства
		вам на расчётный счёт на следующий день.
  </p>
  <psb-button
    class="accredit-amount__submit"
    [isSubmit]="true"
    [type]="ButtonType.Primary"
  >
    Далее
  </psb-button>
</form>
