<div class="success-modal">
    <div class="success-modal-header">
        <div
            (click)="close(false)"
            class="icon-close"
        >
            <psb-icon [path]="'Close2_24.svg'"></psb-icon>
        </div>
    </div>
    <div class="success-modal-main">
        <div class="status-icon"></div>
        <div class="success-modal-title">
            <psb-heading type="4">{{data.title}}</psb-heading>
        </div>
        <psb-scroll-bar
            class="main-content"
            [isContentIndent]="true"
            [psbScrollBarAutoHeight]="content"
            [xOverflowDisabled]="true"
            [contentChangingDebounceTime]="contentChangingDebounceTime"
        >
            <div #content>
                Отлично! Ваше заявление сформировано и направлено в банк. В ближайшее время сотрудники банка обработают вашу заявку и выпустят покрытый аккредитив для безопасного платежа вашему контрагенту.
                <br>
                О статусе заявки можно узнать в разделе Документы
            </div>
        </psb-scroll-bar>
        <div class="actions">
            <psb-button
                class="success-button"
                [size]="buttonSize.Medium"
                (buttonClick)="close(true)"
                [disabled]="data.successButtonDisabled"
            >
                {{data.successButtonText}}
            </psb-button>
            <psb-button
                *ngIf="data.rejectButtonText"
                [size]="buttonSize.Medium"
                (buttonClick)="close(false)"
            >
                {{data.rejectButtonText}}
            </psb-button>
        </div>
        <div
            class="modal-banner"
            *ngIf="data.bannerData"
        >
            <psb-banner
                [title]="data.bannerData.title"
                [description]="data.bannerData.description"
                [image]="data.bannerData.image"
                (bannerClick)="bannerClick()"
            ></psb-banner>
        </div>
    </div>
</div>
