@import "./assets/colors";
@import "./assets/sizes";
@import "./assets/fonts";

@import '@angular/cdk/overlay';
@import "@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body,
* {
    font-family: $inter;
}

.loc-backdrop {
    background-color: $black-alpha-50;

    &+.cdk-global-overlay-wrapper {
        display: flex !important;
        text-align: left !important;
    }
}

.loc-overlay-spinner {
    mat-dialog-container {
        display: flex;
        align-items: center;
        background: transparent;
        box-shadow: none;
    }
}

.loc-overlay {
    max-width: 100vw !important;

    &.loc-payment {
        mat-dialog-container {
            width: 840px !important;
        }
    }

    .mat-dialog-container {
        margin-left: auto;
        margin-right: auto;
        background: $white;
        width: max-content;
        height: max-content;
    }

    .success-modal {

        .status-icon,
        psb-heading {
            text-align: left;
        }
    }
}

loc-inner,
.loc-overlay {

    a,
    .main-color {
        color: $main-blue !important;
    }

    .checkbox .checkbox-label {
        color: $black-alpha-87;
        padding-left: $size-zero;
    }

    psb-button {
        display: inline-block;
    }

    psb-tooltip {
        height: 16px;
    }

    psb-tooltip psb-icon svg {
        color: $black-alpha-38 !important;
        cursor: pointer;
    }
}

.cdk-overlay-container {
    z-index: 1000;
    position: absolute;
}

.loc-overlay {
    background: #0000005c;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

loc-inner {
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
        height: 4px !important;

        &::before {
            background: $black-alpha-12 !important;
        }
    }

    ngx-dropzone-remove-badge {
        opacity: 1 !important;
        background: $black-alpha-24 !important;

        &:hover {
            background: $main-blue !important;
        }
    }

    psb-hint {
        max-height: 50px;
        overflow: hidden;
    }
}

.docs-holder .remove-btn {
    svg {
        width: 30px;
        height: 30px;
    }
}

.add-doc-btn .icon {
    svg {
        width: 30px;
        height: 30px;
    }
}

.psb-input {
    position: relative;
    z-index: 100;
}

psb-datepicker {
    .icon-wrapper {
        z-index: 100;
    }
}

psb-calendar header.header {
    width: auto !important;
}

psb-dialog-header-with-close-icon {
    width: auto !important;
}