@import "../../../../../../assets/colors";
@import "../../../../../../assets/sizes";

.docs-holder {
    background: $bg-grey-super-light;
    padding: 32px 16px;
    margin-bottom: $size-24;
    position: relative;

    .remove-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: $bg-grey-medium;
        cursor: pointer;

        psb-icon svg {
            width: 30px;
            height: 30px;
        }
    }

    .additional-field {
        display: block;
        margin-bottom: $size-24;
    }
}

.only-orig-checkbox {
    display: inline-block;
    margin-top: -$size-10;

    .tooltip {
        display: inline-block;
        margin-left: $size-10;
        vertical-align: middle;
    }
}

.fields {
    display: flex;

    .doc-field {
        width: 300px;
        display: inline-block;
    }

    .count-field {
        width: 216px;
        display: inline-block;
        margin-left: $size-20;
    }
}