.docs-holder {
	background: #f5f5f5;
	padding: 32px 16px;
	margin-bottom: 24px;
  position: relative;

  &__remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #d7d7d7;
    cursor: pointer;

    psb-icon svg {
      width: 30px;
      height: 30px;
    }
  }

	&__additional-field {
		display: block;
		margin-bottom: 24px;
	}
}

.only-orig-checkbox {
  display: inline-block;
  margin-top: -10px;

  &__tooltip {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.fields {
  display: flex;

  &__doc-field {
    width: 300px;
    display: inline-block;
  }

  &__count-field {
    width: 216px;
    display: inline-block;
    margin-left: 20px;
  }
}