@import "../../../../../assets/sizes";
@import "../../../../../assets/colors";
@import "../../../../../assets/fonts";

:host {
    position: relative;

    &::before {
        content: "";
        border-left: dotted 1px #ccc;
        width: 1px;
        height: 100%;
        position: absolute;
        left: -41px;
    }
}

.issue-steps {
    position: relative;
    z-index: 1;

    >.title {
        font-size: $font-size-xs;
        line-height: 36px;
        letter-spacing: 1.5px;
        font-family: $roboto;
        color: $bg-grey-light-dark;
        margin-bottom: 10px;
    }
}

.step-item {
    $self: &;
    display: flex;
    flex-direction: row;
    margin-left: -47px;
    margin-bottom: $size-8;

    .circle {
        height: 36px;
        min-width: 47px;
        position: relative;
        box-sizing: content-box;

        &::before {
            content: "";
            position: absolute;
            top: 2px;
            width: 11px;
            height: 11px;
            background: $bg-grey-super-light;
            border: 1px solid #E2E2E2;
            border-radius: 50%;
            box-sizing: unset;
        }
    }

    .text {
        height: 36px;
        display: flex;
        flex-direction: column;

        .title,
        .description {
            line-height: 18px;
        }
    }

    .title {
        font-size: $font-size-s;
        font-family: $roboto;
        line-height: 36px;
        margin-bottom: -2px;
        color: $bg-grey-light-dark;
    }

    .description {
        font-family: $roboto;
        white-space: nowrap;
        overflow: hidden;
        font-size: $font-size-xs;
        display: none;
        max-width: 247px;
        text-overflow: ellipsis;
        color: $black-alpha-50;
    }


    &--active {
        .circle {
            &::before {
                width: 9px;
                height: 9px;
                border: 2px solid $main-blue;
            }
        }

        .title {
            color: $black-alpha-87;
        }
    }

    &--done {
        .circle {
            &::before {
                width: 9px;
                height: 9px;
                background: $main-blue;
                border: 2px solid $main-blue;
            }
        }

        .title {
            color: $main-blue;
        }

        .description {
            display: inline-block;
        }
    }
}